html {
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*background-color: #00539F;*/

  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}

/*h1 {
}*/

/*h3 {
  font-size: 1.5rem;
}*/

.nav-no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0 3px; /* Remove padding */
  margin: 0; /* Remove margins */
}

li {
  line-height: 2;
  letter-spacing: 1px;
}

p {
  line-height: 2;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
}

#nav-hex-tools, #nav-s-record-tools, #nav-other-tools {
  width: max-content;
  border: 1px solid black;
  margin: 10px;
}
