html {
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*background-color: #00539F;*/

  font-weight: normal;
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family: 'Open Sans', sans-serif;
}

/*h1 {
}*/

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
}

#nav-hex-tools, #nav-s-record-tools, #nav-other-tools {
  width: auto;
  border: 1px solid black;
}
